.projects-gallery-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
}

.projects-gallery__header {
    margin-bottom: var(--gutter);
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__title {
        font-size: var(--font-size-small);
        text-transform: uppercase;
    }

    &__scroll {
        color: var(--text-color-lighter);
        text-transform: uppercase;
        font-weight: 600;
    }
}

.projects-gallery__arrows {
    display: flex;
    gap: 0.5rem;

    > button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }
}

.projects-gallery__titles {
    position: absolute;
    bottom: 0;
    left: -1rem;
    transform: translateX(-100%);

    &__icon-container {
        position: absolute;
        font-size: 0.8rem;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: -2rem;
        transition: transform 0.3s ease;

        > svg {
            transform: rotate(90deg);
        }
    }
}

.projects-gallery__title {
    line-height: 28px;

    &--mobile {
        display: none;
    }

    &--desktop {
        text-transform: uppercase;
        opacity: 0.5;
        text-align: right;
        font-size: 1.1rem;

        > h5 {
            font-weight: 700;
            cursor: pointer;
        }
    }

    &--active {
        opacity: 1;
    }
}

.projects-gallery {
    width: 100%;
    position: relative;
    overflow: hidden; 

    &__inner {
        width: 100%;
        aspect-ratio: 5/3; 
    }

    &__item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.4s ease;

        &__img {
            height: auto;
            object-fit: cover;
            filter: saturate(0.4);
            transition: transform 0.4s ease;
            //transform-origin: bottom;
        }

        &--active {
            opacity: 1;

            .projects-gallery__item__img {
                transform: scale(1.1) translateZ(0px);
            }
        }
    }
}

@media (max-width: 1024px) {
    .projects-gallery-container {
        width: 100% !important;
        position: static;
    }

    .projects-gallery__header__scroll {
        display: none;
    }

    .projects-gallery__title {
        &--desktop {
            display: none;
        }

        &--mobile {
            display: flex;
            align-items: center;
            font-size: 1rem;
            padding-top: 0.5rem;

            > span {
                width: 40px;
            }
        }
    }
}