.projects-gallery-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    min-width: 500px;
}

.projects-gallery__header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__title {
        font-size: 1.1rem;
        text-transform: uppercase;
    }
}

.projects-gallery__arrows {
    display: none;
}

.projects-gallery__titles {
    position: absolute;
    bottom: 0;
    left: -1rem;
    transform: translateX(-100%);

    &__icon-container {
        position: absolute;
        font-size: 0.8rem;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: -2rem;
        transition: transform 0.3s ease;

        > svg {
            transform: rotate(90deg);
        }
    }
}

.projects-gallery__title {
    line-height: 28px;
    text-transform: uppercase;
    opacity: 0.5;
    text-align: right;
    font-size: 1.2rem;

    > h4 {
        font-size: 1rem;
        cursor: pointer;
        font-weight: 700;
    }

    &--active {
        opacity: 1;
    }
}

.projects-gallery {
    width: 100%;
    position: relative;
    overflow: hidden; 

    &__inner {
        width: 100%;
        aspect-ratio: 5/3; 
        
        a {
            cursor: none;
        }
    }

    &__item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.4s ease;

        &__img {
            height: auto;
            object-fit: cover;
            filter: saturate(0.4);
            transition: transform 0.4s ease;
        }

        &--active {
            opacity: 1;

            .projects-gallery__item__img {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 1024px) {
    .projects-gallery-container {
        width: 100%;
        max-width: 700px;
        min-width: auto;
        position: relative;
        margin-bottom: 2rem;
    }

    .projects-gallery__header {
        justify-content: space-between;

        &__title {
            font-size: 1rem;
        }
    }

    .projects-gallery__arrows {
        display: flex;
        gap: 0.5rem;

        > button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
        }
    }

    .projects-gallery__titles {
        bottom: -2rem;
        left: 0;
        transform: translateX(0);
        height: 28px;
        overflow: hidden;

        &__icon-container {
            display: none;
        }
    }

    .projects-gallery__title {
        text-transform: initial;
        text-align: left;
        transition: transform 0.4s ease;
    }
}