.projects {
    position: relative;
    padding: 5rem var(--gutter) var(--bottom-gutter) var(--gutter);
    background-color: var(--light);

    &-container {
        padding-top: var(--gutter);
        border-top: var(--border);
        display: flex;
        justify-content: space-between;
    }

    &--large {
        width: 50%;
    }

    &--small {
        width: 35%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

.project {
    &__illustration {
        filter: saturate(0.4);
        height: auto;
    }

    > h3 {
        padding-top: calc(var(--gutter) - 0.5rem);
        margin-top: var(--gutter);
        border-top: var(--border);
    }
}

@media (max-width: 1024px) {
    .projects {            
        &-container {
            flex-direction: column;
            gap: 2rem;
        }

        &--large, &--small {
            width: 100%;
        }
    }
}