.burger-menu {
    display: none;
}

@media (max-width: 1024px) {
    .burger-menu {
        display: flex;
        width: 52px;
        height: 35px;
        padding-top: 4px;

        &__inner {
            position: relative;
            padding: 0;
            height: 15px;
            width: 52px;
            overflow: hidden;
        }

        span {
            transition: all 1s cubic-bezier(.19,1,.22,1);
        }
    
        &__line {
            position: absolute;
            right: 0;
            width: 35px;
            height: 2px;
            background-color: var(--black);
    
            &1 {
                top: 0;
            }
    
            &2 {
                top: 8px;
            }
        }

        &__close {
            text-transform: uppercase;
            font-size: 0.8rem;
            position: absolute;
            right: 0;
            top: 15px;
            font-weight: 500;
        }

    }
    
    // burger menu open
    .burger-menu--open span {
        transform: translateY(-17px);
    }
}

