
.spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    animation: spinnerRotation 0.8s linear infinite;
}

.shapes {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    transform: translate3d(0,0,0);
    filter: blur(50px);

    &__item-container {
        position: absolute;

        &--top {
            top: -5vw;
            left: -2%;
        }

        &--bottom {
            bottom: -5vw;
            right: -3%;
        }
    }

    &__item {
        &--top {
            width: clamp(15rem, 40vw, 37rem);
            animation: topShapeRotation 10s ease infinite alternate;
        }

        &--bottom {
            width: clamp(25rem, 55vw, 55rem);
            animation: bottomShapeRotationDesktop 10s ease infinite alternate;
        }

        &-gradient stop {
            transition: stop-color 0.3s ease;
        }
    }
}

@media (max-width: 768px) {
    .shapes {
        filter: blur(35px);

        &__item--bottom {
            animation-name: bottomShapeRotationMobile;
        }
    }
}


// keyframes
@keyframes spinnerRotation {
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

@keyframes topShapeRotation {
    0% {
        transform: rotate(-7deg);
    } 100% {
        transform: rotate(7deg);
    }
}

@keyframes bottomShapeRotationDesktop {
    0% {
        transform: rotate(-10deg);
    } 100% {
        transform: rotate(4deg);
    }
}

@keyframes bottomShapeRotationMobile {
    0% {
        transform: rotate(-55deg) translate(30%, 20%);
    } 100% {
        transform: rotate(-41deg) translate(30%, 20%);
    }
}