.contact {
    &__intro {
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
    }

    &__info > li:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &__form-container {
        margin-top: var(--spacing);
    }
}

@media (max-width: 1024px) {
    .contact {
        &__intro {
            flex-direction: column-reverse;
            row-gap: 3rem;
        }
    }
}