.footer {
    position: relative;
    background-color: var(--light);
    padding: var(--gutter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gutter);
    flex-wrap: wrap;

    > span {
        font-size: var(--font-size-small);
    }
}