@use './hero.scss';
@use './projects.scss';
@use './header.scss';
@use './footer.scss';
@use './about.scss';
@use './contact.scss';
@use './form.scss';
@use './cursor.scss';

:root {
    --light: #f5f5f5;
    --black: #0e0e0e;
    --dark-grey: #242424;
    --light-grey: #e4e4e4;
    --mid-grey: #e0e0e0;
    --gutter: 1.5vw;
    --top-gutter: clamp(7rem, 14vh, 9rem);
    --bottom-gutter: clamp(8rem, 17vh, 10rem);
    --block-margin: 50%;
    --font-size-small: clamp(0.8rem, 0.9vw, 0.9rem);
    --font-size-medium: clamp(0.9rem, 1.15vw, 1.15rem);
    --font-size-large: clamp(2.8rem, 7vw, 7rem);
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --indent: 5rem;
    --border: 2px solid var(--mid-grey);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--black) var(--light);    
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    position: relative;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    background-color: var(--light);
    color: var(--dark-grey);
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #959595;
    }
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: 1rem;
}

p {
    line-height: 1.6;
}

input, textarea, button {
    font-family: inherit;
}

img {
    display: block;
    width: 100%;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

ul, ol {
    list-style: none;
}


// classes
.page {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.wrapper {
    position: relative;
    padding: var(--top-gutter) var(--gutter) var(--bottom-gutter) var(--gutter);
}

.grid {
    display: grid;
    grid-template-columns: calc(var(--block-margin) - var(--gutter)) 1fr;
    gap: var(--gutter);
    padding: calc(2 * var(--gutter)) 0;
    border-top: var(--border);

    &:last-child {
        border-bottom: var(--border);
    }

    h3 {
        line-height: 1.5;
    }
}

.title {
    font-size: var(--font-size-large);
    margin-bottom: 3rem;
    line-height: 1em;
}

.subtitle {
    font-size: clamp(2rem, 3vw, 3rem);
    margin-bottom: 2rem;
}

.button {
    padding: 0.75rem 2rem;
    background-color: var(--black);
    color: var(--light);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    border: none;
    outline: none;
    transition: padding 0.3s ease;

    &:has(.spinner) {
        padding-left: calc(2rem + 32px);
    }
}

button[disabled] {
    cursor: not-allowed;
}

.link {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
}

.nav-item {
    text-transform: uppercase;
    font-size: var(--font-size-small);
}

.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    position: relative;
    padding: var(--gutter);
    margin: var(--gutter);
    background-color: var(--black);
    color: var(--light);
    max-width: 400px;

    &__close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.5rem;

        > svg {
            color: var(--light);
        }
    }
}

.spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    animation: rotate 0.8s linear infinite;
}

.line-wrapper {
    overflow: hidden;
    display: inline-flex;

    > span {
        margin-right: 0.26em;
    }

    &:last-child > span {
        margin-right: 0;
    }
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    color: var(--light);
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: clamp(1.2rem, 2vw, 2rem);
    }
}


// media queries
@media (max-width: 1024px) {
    :root {
        --gutter: 1rem;
        --block-margin: 33%;
        --top-gutter: 7rem;
        --bottom-gutter: 8rem;
    }
}

@media (max-width: 768px) {
    :root {
        --indent: 3rem;
    }

    html {
        scrollbar-width: auto;
        scrollbar-color: auto; 
    }

    a:hover {
        color: inherit;
    }

    .title {
        line-height: 1.15em;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .modal-overlay {
        align-items: flex-start;
    }

    .loader {
        align-items: flex-start;
        padding-top: 10rem;
    }
}

@keyframes rotate {
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}