:root {
    --color-light: #f3f2ef;
    --color-lighter: #ffffff;
    --color-darker: #0a0a0a;
    --color-dark: #131313;
    --gutter: 2rem;
    --font-size-medium: 1.3rem;
    --font-size-small: 1rem;
    --transition-style: cubic-bezier(0.6, 0, 0.24, 1);
    --border-color: color-mix(in srgb,var(--text-color)25%,transparent);
}

[data-theme='light'] {
    --background-color: var(--color-lighter);
    --text-color: var(--color-dark);
    --text-color-lighter: color-mix(in srgb,var(--text-color)70%,transparent);
}

[data-theme='dark'] {
    --background-color: var(--color-dark);
    --text-color: var(--color-light);
    --text-color-lighter: color-mix(in srgb,var(--text-color)60%,transparent);
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    font-weight: 500;
}

body {
    background-color: var(--text-color);
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

h1, h2, h3 {
    line-height: 1em;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 7rem;
    margin-bottom: 3rem;
    letter-spacing: -5px;
}

p {
    font-size: var(--font-size-medium);
    line-height: 1.5;
    color: var(--text-color-lighter);
}

input, textarea, button {
    font-family: inherit;
}

img {
    display: block;
    width: 100%;
}

ul, ol {
    list-style: none;
}


// classes
.page-transition {
    background-color: var(--background-color);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.container {
    width: 100vw;
}

.page {
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;   
    min-height: 100vh;
    padding-top: 9rem;
    padding-bottom: 6rem;
    padding-left: 10%;
    padding-right: 10%;
}

.grid {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.subtitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.hover-underline {
    position: relative;
    width: fit-content;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: var(--color-light);
        mix-blend-mode: difference;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.button {
    padding: 0.75rem 2rem;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-size-medium);
    font-weight: 500;
    border: none;
    outline: none;
    transition: padding 0.3s ease;

    &:has(.spinner) {
        padding-left: calc(2rem + 32px);
    }
}

button[disabled] {
    cursor: not-allowed;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--font-size-medium);
    width: fit-content;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    position: relative;
    padding: 1.5rem;
    margin: 0 var(--gutter);
    background-color: var(--color-darker);
    max-width: 400px;

    p {
        color: var(--color-light);
    }

    &__close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: var(--color-light);
        font-size: 1.5rem;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    animation: rotate 0.8s linear infinite;
}


// media queries
@media (max-width: 1200px) {
    .page {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    .page {
        padding: 8rem var(--gutter);
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 3rem;
    }

    .subtitle {
        font-size: 1.9rem;
    }
}

@media (max-width: 768px) {
    :root {
        --gutter: 1rem;
        --font-size-medium: 1.2rem;
    }
}

@keyframes rotate {
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}