.home {
    h1, h2 {
        margin-bottom: 0;
        line-height: 1em;
    }

    p {
        margin: var(--spacing) 0;
    }

    &__nav {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .home {
        h1, h2 {
            line-height: normal;
        }
    }
}