.legal article {
    &:not(:last-child) {
        padding-bottom: calc(2 * var(--gutter));
    }

    h2, p {
        width: 50%;
    }

    h2 {
        line-height: 1.5;
    }
}

@media (max-width: 1024px) {
    .legal article {
        h2 {
            width: 30%;
        }

        p {
            width: 70%;
        }
    }
}

@media (max-width: 768px) {
    .legal article {
        h2 {
            width: 100%;
            line-height: normal;
        }

        p {
            width: 100%;
        }
    }
}