.legal article {
    display: flex;
    gap: calc(2 * var(--gutter));
    border-top: var(--border);
    padding-top: calc(2 * var(--gutter));

    &:not(:last-child) {
        padding-bottom: calc(2 * var(--gutter));
    }

    h2, p {
        width: 50%;
    }

    h2 {
        font-size: var(--font-size-medium);
        line-height: 1.5;
    }
}

@media (max-width: 1024px) {
    .legal article {
        h2 {
            width: 40%;
        }

        p {
            width: 60%;
        }
    }
}

@media (max-width: 768px) {
    .legal article {
        flex-direction: column;
        row-gap: 2rem;

        h2 {
            width: 100%;
            line-height: normal;
        }

        p {
            width: 100%;
        }
    }
}