.projects {
    &-list {
        position: relative;
        counter-reset: counter;

        > li {
            counter-increment: counter;
        }
    }

    &--large {
        float: left;
        width: 50%;
    }

    &--small {
        float: right;
        width: 35%;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__item {
        img {
            filter: saturate(0.4);
            height: auto;
        }

        &-details {
            padding-top: calc(var(--gutter) - 0.5rem);
            margin-top: var(--gutter);
            border-top: var(--border);
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: var(--font-size-medium);

            &::before {
                content: "0" counter(counter);
                font-size: var(--font-size-small);
                margin-right: 0.5rem;
            }
            }

            > span {
                display: flex;
                align-items: flex-end;
                gap: 0.5rem;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }

        &:hover {
            color: inherit;

            .projects__item-details > span {
                opacity: 1;
            }
        }
    }

    &__spacer {
        clear: both;
    }
}

.project {
    &__info {
        display: flex;
        gap: 3rem;
        margin-bottom: var(--spacing);
    }

    &__technical-data {
        width: 30%;
        line-height: 1.5;

        > div {
            display: flex;
            gap: 2rem;
            align-items: baseline;
        }

        > div:first-child {
            margin-bottom: 0.5rem;
        }

        &-label {
            font-size: 1rem;
            font-weight: var(--font-weight-bold);
            width: 60px;
            flex-shrink: 0;
        }
    }

    &__description {
        width: 70%;

        > p {
            text-indent: var(--indent);
        }
    }

    &__url-container {
        margin-top: 2rem;
    }

    &__images {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__image {
        height: auto;
        filter: saturate(0.4);

        &:hover {
            filter: saturate(0.6);
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: var(--gutter);
        text-transform: uppercase;
        font-size: var(--font-size-small);

        &--forward {
            margin-left: auto;
        }
    }
}

@media (max-width: 1024px) {
    .projects {
        &-list > li {
            float: none;
            width: 100%;
        }

        &--large {
            margin-bottom: 2rem;
        }

        &__item span {
            opacity: 1;
        }

        &__spacer {
            display: none;
        }
    }

    .project__images {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .project {
        &__info {
            flex-direction: column-reverse;
        }

        &__technical-data, &__description {
            width: 100%;
        }
    }
}