.projects-list {
    counter-reset: counter;
    border-top: var(--border);

    > li {
        counter-increment: counter;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;

        &:not(:first-child) .projects-list__link {
            border-top: var(--border);
        }

        &:last-child .projects-list__illustration--desktop {
            position: static;
            margin-top: calc(2 * var(--gutter));
        }
    }

    &__link {
        width: calc(50% - var(--gutter));;
        margin-left: auto;
        padding: calc(2 * var(--gutter)) 0;

        &:hover {
            color: inherit;
        }

        &:hover .projects-list__cta {
            opacity: 1;
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;

        h2 {
            font-size: 1.5rem;

            &::before {
                content: "0" counter(counter);
                font-size: var(--font-size-small);
                margin-right: 0.5rem;
            }
        }
    }

    &__cta {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &__illustration--desktop {
        position: absolute;
        left: 0;
        top: calc(2 * var(--gutter));
        width: calc(50% - var(--gutter));
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &__illustration--mobile {
        display: none;
    }

    img {
        height: auto;
        filter: saturate(0.4);
    }

    &__spacer {
        clear: both;
    }

    &__link:hover + .projects-list__illustration--desktop {
        opacity: 1;
    }
}

.project {
    &__info {
        display: flex;
        gap: 3rem;
        margin-bottom: var(--spacing);
    }

    &__technical-data {
        width: 30%;
        line-height: 1.5;

        > div {
            display: flex;
            gap: 2rem;
            align-items: baseline;
        }

        > div:first-child {
            margin-bottom: 0.5rem;
        }

        &-label {
            font-size: 1rem;
            font-weight: var(--font-weight-bold);
            width: 60px;
            flex-shrink: 0;
        }
    }

    &__description {
        width: 70%;

        > p {
            text-indent: var(--indent);
        }
    }

    &__url-container {
        margin-top: 2rem;
    }

    &__images {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__image {
        height: auto;
        filter: saturate(0.4);

        &:hover {
            filter: saturate(0.6);
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: var(--gutter);
        text-transform: uppercase;
        font-size: var(--font-size-small);

        &--forward {
            margin-left: auto;
        }
    }
}

@media (max-width: 1024px) {
    .projects-list {
        &__illustration--desktop {
            width: calc(40% - var(--gutter));
        }

        &__link {
            width: calc(60% - var(--gutter));
        }
    }

    .project__images {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .projects-list {
        > li:last-child .projects-list__link {
            padding-bottom: 0;
        }

        &__illustration--mobile {
            display: block;
        }

        &__link {
            width: 100%;
        }

        &__details {
            margin-top: 1rem;

            h2 {
                font-size: 1rem;
            }
        }

        &__cta {
            opacity: 1;
        }

        &__spacer, &__illustration--desktop {
            display: none;
        }
    }

    .project {
        &__info {
            flex-direction: column-reverse;
        }

        &__technical-data, &__description {
            width: 100%;
        }
    }
}