.cursor {
    position: fixed;
    border-radius: 100%;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2s cubic-bezier(0.6, 0, 0.24, 1), border-color 0.2s cubic-bezier(0.6, 0, 0.24, 1), border-width cubic-bezier(0.6, 0, 0.24, 1);

    &-inner {
        width: 5px;
        height: 5px;
        background-color: var(--light);
    }

    &-outer {
        width: 25px;
        height: 25px;
        background-color: transparent;
        border: 2px solid #c7c7c7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.link-cursor {
    background-color: var(--light);
    border-width: 0px;
    transform: translate(-50%, -50%) scale(2);
}

.projects-cursor {
    background-color: var(--black);
    border-color: var(--black);
    border-width: 0px;
    mix-blend-mode: normal;
    transform: translate(-50%, -50%) scale(3);
    color: var(--light);
    font-size: 0.35rem;

    > span {
        display: block;
    }
}

@media (max-width: 1024px) {
    .cursor {
        display: none;
    }
}