.project {
    &__info {
        display: flex;
        gap: 3rem;
        margin-bottom: 4rem;
        padding-top: var(--gutter);
        border-top: var(--border);

        &__technical-data {
            width: 30%;
            line-height: 1.5;

            > div {
                display: flex;
                gap: 2rem;
                align-items: baseline;

                > h5 {
                    font-size: 1rem;
                    font-weight: var(--font-weight-bolder);
                    width: 60px;
                    flex-shrink: 0;
                }
            }

            > div:first-child {
                margin-bottom: 0.5rem;
            }
        }

        &__description {
            width: 70%;

            > p {
                text-indent: var(--indent);
            }
        }

        &__url-container {
            margin-top: 2rem;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__img {
        height: auto;
        filter: saturate(0.4);

        &:hover {
            filter: saturate(0.7);
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-top: calc(var(--gutter) - 0.5rem);
        margin-top: var(--gutter);
        border-top: var(--border);
    
        > a:hover {
            opacity: 0.4;
        }

        > span {
            cursor: not-allowed;
            opacity: 0.4;
        }
    }
}

@media (max-width: 1024px) {
    .project__images {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .project__info {
        flex-direction: column-reverse;

        &__technical-data, &__description {
            width: 100%;
        }
    }
}