.home {
    padding-bottom: var(--gutter);
    padding-right: var(--gutter);
    display: flex;
    column-gap: 1.5rem;

    &__content {
        width: 60%;
    }

    &__description {
        width: 100%;
        max-width: 800px;
        margin: 3rem 0;
    }

    &__projects {
        width: 40%;
        margin-top: auto;
    }
}

@media (max-width: 1024px) {
    .home {
        flex-direction: column;
        row-gap: 5rem;
        padding-bottom: 8rem;

        &__content, &__projects {
            width: 100%;
        }

        &__description {
            max-width: none;
        }
    }
}
