.home {
    &__description {
        width: 100%;
        max-width: 800px;
        margin: 3rem 0;
    }

    &__link {
        margin-bottom: 200px;
    }

    &__projects {
        position: absolute;
        right: var(--gutter);
        bottom: var(--gutter);
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .home {
        &__link {
            margin-bottom: 0;
        }

        &__projects {
            position: static;
            margin-top: 5rem;
            width: 100%;
        }
    }
}
