@use 'src/styles/vars';

.header {
    text-align: right;
    padding: vars.$gutter;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: white;
    mix-blend-mode: difference;

    &__list-item {
        display: inline;
        cursor: pointer;
        padding: 0 1rem;
        margin: 0 0.3rem;
        font-size: 0.9rem;
        text-transform: uppercase;

        &:last-child {
            padding-right: 0;
            margin-right: 0;
        }
    }
}