.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
    padding: var(--gutter);

    &__inner {
        display: grid;
        grid-template-columns: var(--block-margin) 1fr;
    }

    &__nav {
        > ul {
            display: flex;
            column-gap: 2.5rem;
        }

        &__link {
            font-size: 0.9rem;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__inner {
            display: flex;
            justify-content: space-between;
        }
    }
    .header__nav {
        display: none;
    }
}