.footer {
    position: fixed;
    left: var(--gutter);
    bottom: var(--gutter);
    transform: rotate(-90deg);
    color: var(--light);
    mix-blend-mode: difference;
    white-space: nowrap;
    text-transform: uppercase;

    > a {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: 1024px) {
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: var(--gutter);
        transform: rotate(0);

        > a {
            position: static;
        }
    }
}